.welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: var(--text-gray-color);
    font-size: 1.3rem;
}

.message__spinner {
    width: 2.5rem;
    height: 2.5rem;
}