.message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.message--right {
    justify-content: flex-end;
}

.message--left {
    justify-content: flex-start;
}

.message--left .avatar {
    order: -2;
}

.message__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    color: var(--white-color);
    padding: .5rem .8rem;
    border-radius: 10px;
    background-color: var(--bgc-gray-color-2);
    font-size: 1.3rem;
    max-width: 70%;
}

.message__time {
    align-self: flex-end;
    font-size: .9rem;
    color: var(--dark-color);
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    fill: var(--primary-color);
}