.message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.message--right {
    justify-content: flex-end;
}

.message--left {
    justify-content: flex-start;
}

.message--left .avatar {
    order: -2;
}

.message__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: .5rem .8rem;
    border-radius: 10px;
    background-color: rgb(190, 187, 187);
    font-size: 1.3rem;
    max-width: 70%;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    fill: var(--primary-color);
}