.welcome-message {
    line-height: 90vh;
    text-align: center;
    color: var(--text-gray-color);
    font-size: 1.3rem;
}

.message__spinner {
    width: 3rem;
    height: 3rem;
    background-color: rgb(190, 187, 187);
    border-radius: 10px;
}