* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color: #12a1a1;
    --accents-color: #108686;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
   padding: 1rem;
}


@media(min-width: 768px) {
  html {
    font-size: clamp(75%, 1.5vw, 100%);
  }
}

/* MESSAGE-BOX */

.messages-container {
  margin: 2rem auto;
  max-width: 1400px;
}