* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color: #12a1a1;
    --secondary-color: #c71aa1;
    --accents-color: #108686;
    --text-gray-color: #d8d4d4;
    --bgc-gray-color-2: #bebbbb;
    --dark-color: #423f3f;
    --white-color: #fff;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}

@media(min-width: 768px) {
  html {
    font-size: clamp(75%, 1.5vw, 100%);
  }
}

.sr-only {
  display: none;
}

/* MESSAGE-BOX */

.messages-container {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: auto;
  max-height: 90vh;
  padding: 1rem;
  flex-grow: 1;
  max-width: 1400px;
}

